body {
    background-color:#e0ffff;
  }
hr {
  background-color: white;
  border-style: dotted none none;
  height: 0px;
  width: -80%;
  zoom: 50%;
  border-color: grey;
  border-width: 9px;
}